<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JadownMD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>

        @media screen and (min-width: 768px) {
            side-container{
                height: 100vh;  /*allows both columns to span the full height of the browser window*/
                display: flex;
                position: sticky;
                top: 0;
            }
        }
        .menu {
            flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
            overflow-y: auto;  /*adds scroll to this container*/
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <a class="navbar-item" href="https://github.com/osjupiter/JadowMD">
            JadowMD
        </a>
    </div>
</nav>

<section class="main-content columns is-fullheight section">

    <div class="side-container column is-3 is-fullheight">
        <aside class="menu">
            <p class="menu-label">
                List
            </p>
            <ul class="menu-list" id="menu-list">
                {{#pages}}
                <li><a href="#" id="menuItem-{{id}}" class="menu-list-item" name="{{id}}" onclick="menuItem('{{id}}');">{{id}}</a>
                    <ul>
                        {{#toc.child}}
                        <li><a href="#{{{text}}}">{{text}}</a>

                            <ul>
                                {{#child}}
                                <li><a href="#{{{text}}}">{{text}}</a></li>
                                {{/child}}
                            </ul>
                        </li>
                        {{/toc.child}}
                    </ul>
                </li>
                {{/pages}}
            </ul>
        </aside>
    </div>

    <div id="injectTarget" class="container column is-9">
    </div>

    </div>
</section>

{{#pages}}
<template id="{{id}}">
    <div class="box">
        Table of Contents
        <div class="content">
            {{#pages}}
            <ul>
                {{#toc.child}}
                <li><a href="#{{{text}}}">{{text}}</a>

                    <ul>
                        {{#child}}
                        <li><a href="#{{{text}}}">{{text}}</a></li>
                        {{/child}}
                    </ul>
                </li>
                {{/toc.child}}
            </ul>
            {{/pages}}
        </div>
    </div>
    <div class="content">
        {{{content}}}
    </div>
</template>
{{/pages}}

<script type="text/javascript">

function selectPage(id){
    var t = document.querySelector('#'+id);
    var parent=document.querySelector('#injectTarget')

    var clone = document.importNode(t.content, true);
    parent.textContent = null;
    parent.appendChild(clone);
}

document.addEventListener("DOMContentLoaded", function(event) {
    var id=document.querySelectorAll(".menu-list-item")[0].name
    menuItem(id)
});
function menuItem(key){
    selectPage(key)
    let old=document.querySelector(".is-active")
    if(old!=null){
        old.classList.remove("is-active")
    }
    document.querySelector('#menuItem-'+key).classList.add("is-active");

}

</script>

</body>
</html>

